{% extends "ledger/layout.html" %}
{% load static %}

{% block page_title %}Ingredients of Recipe | Recipe Book{% endblock %}

{% block style %}<style></style>{% endblock %}

{% block body %}
    {% if image %}
        <img src="{{ image.image.url }}" alt="{{ image.description }}" style="max-width: 400px;">
    {% else %}
        <p>No image available for this recipe.</p>
    {% endif %}

    <p>by {{ recipe_ingredient.0.recipe.author }}</p> 
    <ul>
        {% for ingredient in recipe_ingredient %}
            <li>
                <p>name: {{ ingredient.ingredient.name }}</p>
                <p>quantity: {{ ingredient.quantity }}</p>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'add_image' recipe_ingredient.0.recipe.id %}">Add image to recipe!</a>
{% endblock %}